<div class = "card bg-white text-dark" style="margin-left:85px; margin-top:30px; max-width: 40%;">
    <div class = "card-header" >{{titulo}}</div>
    <div class = "card-body" ></div>

<form #editForm="ngForm" style="margin-left:25px; margin-bottom:25px;">
<!--Selling Egg Price-->
    <div class="form-group row"> <!--para que sea horizontal-->
        <label for="nombre" class="col-form-label col-sm-5">Selling Egg Price</label> <!--que ocupe 2 columnas de las 12-->
        <div class="col-sm-6"> <!--que ocupe 6 columnas de las 12-->
            <input type="number" pattern= "[0-9]*" class="form-control" [(ngModel)]="farm.sellingEggPrice" name="sellEggPrice" required #sellEggPrice="ngModel" >
            <div class="alert alert-danger" *ngIf="sellEggPrice.invalid && (sellEggPrice.dirty || sellEggPrice.touched)">
                    <div *ngIf="sellEggPrice.errors">
                        This price is invalid
                    </div>
            </div>            
        </div>
    </div>
<!--Buying Egg Price-->
    <div class="form-group row"> <!--para que sea horizontal-->
        <label for="apellido" class="col-form-label col-sm-5">Buying Egg Price</label> <!--que ocupe 2 columnas de las 12-->
        <div class="col-sm-6"> <!--que ocupe 6 columnas de las 12-->
            <input type="number" pattern= "[0-9]*" class="form-control" [(ngModel)]="farm.buyingEggPrice" name="buyEggPrice" required #buyEggPrice="ngModel">
            <div class="alert alert-danger" *ngIf="buyEggPrice.invalid && (buyEggPrice.dirty || buyEggPrice.touched)">
                <div *ngIf="buyEggPrice.errors">
                    This price is invalid
                </div>
            </div>  
        </div>
    </div>
<!--Selling Chicken Price-->
    <div class="form-group row"> <!--para que sea horizontal-->
        <label for="email" class="col-form-label col-sm-5">Selling Chicken Price</label> <!--que ocupe 2 columnas de las 12-->
        <div class="col-sm-6"> <!--que ocupe 6 columnas de las 12-->
            <input type="number" pattern= "[0-9]*" class="form-control" [(ngModel)]="farm.sellingChickenPrice" name="sellChickenPrice" required #sellChickenPrice="ngModel">
            <div class="alert alert-danger" *ngIf="sellChickenPrice.invalid && (sellChickenPrice.dirty || sellChickenPrice.touched)">
                <div *ngIf="sellChickenPrice.errors">
                    This price is invalid
            </div>
        </div>  
        </div>
    </div>

<!--Buying Chicken Price-->
    <div class="form-group row"> <!--para que sea horizontal-->
        <label for="email" class="col-form-label col-sm-5">Buying Chicken Price</label> <!--que ocupe 2 columnas de las 12-->
        <div class="col-sm-6"> <!--que ocupe 6 columnas de las 12-->
            <input type="number" pattern= "[0-9]*" class="form-control" [(ngModel)]="farm.buyingChickenPrice" name="buyChickenPrice" required #buyChickenPrice="ngModel">
            <div class="alert alert-danger" *ngIf="buyChickenPrice.invalid && (buyChickenPrice.dirty || buyChickenPrice.touched)">
                <div *ngIf="buyChickenPrice.errors">
                    This price is invalid
            </div>
        </div>  
        </div>
    </div>

    <!--Chicken Limit -->
    <div class="form-group row"> <!--para que sea horizontal-->
        <label for="email" class="col-form-label col-sm-5">Limit of Chickens</label> <!--que ocupe 2 columnas de las 12-->
        <div class="col-sm-6"> <!--que ocupe 6 columnas de las 12-->
            <input type="number" pattern= "[0-9]*" class="form-control" [(ngModel)]="farm.limitOfChickens" name="limitOfChickens" required #limitOfChickens="ngModel">
            <div class="alert alert-danger" *ngIf="limitOfChickens.invalid && (limitOfChickens.dirty || limitOfChickens.touched)">
                <div *ngIf="limitOfChickens.errors">
                    This price is invalid
            </div>
        </div>  
        </div>
    </div>

    <!--Egg Limit-->
    <div class="form-group row"> <!--para que sea horizontal-->
        <label for="email" class="col-form-label col-sm-5">Limit of Eggs</label> <!--que ocupe 2 columnas de las 12-->
        <div class="col-sm-6"> <!--que ocupe 6 columnas de las 12-->
            <input type="number" pattern= "[0-9]*" class="form-control" [(ngModel)]="farm.limitOfEggs" name="limitOfEggs" required #limitOfEggs="ngModel">
            <div class="alert alert-danger" *ngIf="limitOfEggs.invalid && (limitOfEggs.dirty || limitOfEggs.touched)">
                <div *ngIf="limitOfEggs.errors">
                    This price is invalid
            </div>
        </div>  
        </div>
    </div>



<!--BOTÓN-->

    <div class= "form-group row" style="margin-top:40px;margin-right:50%;">
        <div class="col-sm-6">
            <button class="btn btn-primary" role= "button" (click)='update()' [disabled]="!editForm.form.valid">Save</button>
        </div>
    </div>

</form>
</div>>
