<div class="card bg-white text-dark" style="margin-left:85px; margin-top:30px; max-width: 40%;" >
    <div class="card-header">Farm Report</div>
    <div class="card-body text-primary" style="margin-top:10px;">
  
      <table class ="table table-bordered table-striped text-dark">          
        <thead>            
          <tr>
            <th>Name</th>
            <td>{{farm.name}}</td>         
          </tr>       
        </thead>      
        <thead>
          <tr>
            <th >Money</th>
            <td>${{farm.money}}</td>
          </tr> 
        </thead>
        <thead>
          <tr>
            <th>Chickens</th>
            <td>{{numberOfChickens}}</td>
          </tr> 
        </thead>
        <thead>
          <tr>
            <th>Eggs</th>
            <td>{{numberOfEggs}}</td>
          </tr> 
        </thead>           
      </table>
  
    </div>   
  </div>