
<div class="card text-bg-dark mb-3" >
    <div class="image-container">
        <img src="/assets/img/farmcrop.png" class="img-fluid rounded-start" style="width: 100%; opacity: 0.1;" alt="...">
        <div class="image-text">
            <p>Welcome to Greendale Farm</p>
         </div>
    </div>
    <table class ="table" style="max-width: 100%;">          
               
        <tr>
          <th>
              <div class="card text-bg-dark mb-3" style="height: 30%;margin:10px">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="/assets/img/chickenvertical.png" class="img-fluid rounded-start" style="height: 100%;" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Chickens</h5>
                        <p class="card-text">Chickens, the heart of our farm, provide farm-fresh eggs. Roosters announce the day with pride representing renewal. Sustainable practices ensure their happiness. Join us to savor country life, a blend of tradition and nature's beauty.</p>
                      </div>
                    </div>
                  </div>
                </div>
  
          </th>
          <td>
              <div class="card text-bg-dark mb-3" style="height: 30%;margin:10px">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="/assets/img/eggsvertical.png" class="img-fluid rounded-start" style="height: 100%;"  alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Eggs</h5>
                        <p class="card-text">Our farm's eggs are a symbol of incredible quality and freshness. We can asure you that our commitment to sustainability ensures their superior quality. Join us to savor these farm-fresh delights, a testament to nature's excellence.</p>
                      </div>
                    </div>
                  </div>
                </div>
  
  
          </td>         
        </tr>       
         
  </table>
</div>
